<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb
        [title]="'All Appointments'"
        [items]="['Appointments']"
        [active_item]="'All Appointments'"
      ></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h2>Appointments</h2>
                </li>
                <li class="tbl-search-box">
                  <label for="search-input"
                    ><i class="material-icons search-icon">search</i></label
                  >
                  <input
                    placeholder="Search"
                    type="text"
                    #filter
                    class="browser-default search-field"
                    aria-label="Search box"
                  />
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li>
                  <div class="export-button m-l-10" matTooltip="XLSX">
                   
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Patient Full Name</th>
                  <th>Medical Act / type</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Status</th>
                  <th>Medical Staff</th>

                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of appointments">
                  <td>
                    {{ appointment.medVisitSchdld_PatientKy.patientLastName }}
                    {{ appointment.medVisitSchdld_PatientKy.patientMiddleName }}
                    {{ appointment.medVisitSchdld_PatientKy.patientFirstName }}
                  </td>
               <td>
                        {{ appointment.medVisitSchdld_MedActKy.medicalAct_Name }} 
          {{ appointment.medVisitSchdld_MedActKy.medicalAct_Type }} </td>
                  <td>
                    {{ appointment.medVisitSchld_UnxTmBgn | date : "short" }}
                  </td>
                  <td>
                    {{ appointment.medVisitSchdld_UnxTmEnd | date : "short" }}
                  </td>
                  <td
                    [ngClass]="{
                      RePlanned:
                        appointment.medVisitSchdld_Status === 'RePlanned',
                      Planned: appointment.medVisitSchdld_Status === 'Planned',
                      Cancelled:
                        appointment.medVisitSchdld_Status === 'Cancelled'
                    }"
                  >
                    {{ appointment.medVisitSchdld_Status }}
                  </td>
                  <td>
                    <ng-container
                      *ngFor="
                        let staffMember of appointment.staff;
                        let isLast = last
                      "
                    >
                      {{ staffMember.staff_FrstNm
                      }}     {{ staffMember.staff_Nm
                      }}<span *ngIf="!isLast">, </span>
                    </ng-container>
                  </td>
                  <td>
                    <a [routerLink]="['/doctor/act_options']"
                      ><button type="button" class="btn btn-outline-danger">
                        follow up
                      </button></a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
